html {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
body {
    margin: 0;
}
h1{
    font-weight: bold;
}
.titulo{
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
}
.opcoes{
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
}
#sim{
    background-color: green;
    border-radius: 10px;
    margin-right: 20px;
    padding: 15px 50px;

    &:hover{
        background-color:rgb(3, 3, 117);
    }
}
#nao{
    border-radius: 10px;
    margin-left: 20px;
    padding: 15px 50px;
    background-color: red;
    &:hover{
        background-color: orangered;
    }
}